@model WebPractica2.Entities.RegisVendedoresEnt

@{
    ViewBag.Title = "RegisVendedores";
}

<h2>Registrar Vendedores</h2>


<!-- row -->
<div class="row">
    <div class="col-xl-6 col-xxl-12">
        <div class="card">
            <div class="card-header">
                @*<h4 class="card-title">Horizontal Form</h4>*@
            </div>
            <div class="card-body">
                <div class="basic-form">
                    @if (ViewBag.Mensaje != null)
                    {
                        <div class="alert @ViewBag.Alert" role="alert" style="text-align:center">@ViewBag.Mensaje</div>
                    }

                    @using (@Html.BeginForm("RegisVendedores", "Home", FormMethod.Post))
                    {
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>Cédula</label>

                                @Html.TextBoxFor(m => m.Cedula, new { @type = "text", @class = "form-control"})

                            </div>
                            <div class="form-group col-md-6">
                                <label>Nombre</label>

                                @Html.TextBoxFor(m => m.Nombre, new { @type = "text", @class = "form-control" })

                            </div>
                            <div class="form-group col-md-6">
                                <label>Correo</label>

                                @Html.TextBoxFor(m => m.Correo, new { @type = "email", @class = "form-control" })

                            </div>
                            
                        </div>
                       
                        <input type="submit" class="btn btn-primary" value="Registrar">
                    }
                </div>
            </div>
        </div>
    </div>
</div>